{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% url "home" as HOME %}
{% url "portfolio" as PORTFOLIO %}
{% url "contacts" as CONTACTS %}
<head>
    <title>{% block title %}Unify | Welcome...{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static "assets/plugins/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">

    <!-- CSS Implementing Plugins -->
    {% block css-impementing-plugins %}
    {% endblock %}

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="{% static "assets/css/theme-colors/default.css" %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
</head>	

<body>
<div class="wrapper">    
    <!--=== Header ===-->    
    <div class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <!-- Topbar Navigation -->
                <ul class="loginbar pull-right">
                    <li class="languagesSelector">
                        <i class="fa fa-globe"></i>
                        <a>Languages</a>
                        <ul class="languages">
                            <li class="active">
                                <a href="#">English <i class="fa fa-check"></i></a> 
                            </li>
                            <li><a href="#">Spanish</a></li>
                            <li><a href="#">Russian</a></li>
                            <li><a href="#">German</a></li>
                        </ul>
                    </li>
                    <li class="topbar-devider"></li>   
                    <li><a href="page_faq.html">Help</a></li>  
                    <li class="topbar-devider"></li>   
                    <li><a href="page_login.html">Login</a></li>   
                </ul>
                <!-- End Topbar Navigation -->
            </div>
        </div>
        <!-- End Topbar -->
    
        <!-- Navbar -->
        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
		    <a class="navbar-brand" href="{{ HOME }}">
		      <img id="logo-header" src="{% static "assets/img/logo1-default.png" %}" alt="Logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
			<li class="{% block menu_home_li_class %}{% endblock %}">
			  <a href="{{ HOME }}" class="" data-toggle="">
                                Home
                            </a>
                        </li>
                        <!-- End Home -->

                        <!-- Portfolio -->
			<li class="{% block menu_portfolio_li_class %}{% endblock %}">
			  <a href="{{ PORTFOLIO }}" class="" data-toggle="">
                                Portfolio
			  </a>
                        </li>
                        <!-- End Portfolio -->

                        <!-- Contacts -->
			<li class="{% block menu_contacts_li_class %}{% endblock %}">
			  <a href="{{ CONTACTS }}" class="" data-toggle=""> Contacts </a>
                        </li>                    
                        <!-- End Contacts -->

                        <!-- Search Block -->
                        <li>
                            <i class="search fa fa-search search-btn"></i>
                            <div class="search-open">
                                <div class="input-group animated fadeInDown">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="button">Go</button>
                                    </span>
                                </div>
                            </div>    
                        </li>
                        <!-- End Search Block -->
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===-->    

    <!--=== Breadcrumbs ===-->
    {% block breadcrumbs %}
    {% endblock %}
    <!--=== End Breadcrumbs ===-->

    <!--=== Slider ===-->
    {% block slider %}
    {% endblock %}
    <!--=== End Slider ===-->

    <!--=== Purchase Block ===-->
    {% block purchase %}
    {% endblock %}
    <!-- End Purchase Block -->

    <!--=== Content Part ===-->
    {% block content %}
    <div class="container content">

    	<!-- Our Clients -->
	{% block our-clients %}
        <div id="clients-flexslider" class="flexslider home clients">
            <div class="headline"><h2>Our Clients</h2></div>    
            <ul class="slides">
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/hp_grey.png" %}" alt="">
		      <img src="{% static "assets/img/clients/hp.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/igneus_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/igneus.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/vadafone_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/vadafone.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/walmart_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/walmart.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/shell_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/shell.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/natural_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/natural.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/aztec_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/aztec.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/gamescast_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/gamescast.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/cisco_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/cisco.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/everyday_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/everyday.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/cocacola_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/cocacola.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/spinworkx_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/spinworkx.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/shell_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/shell.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/natural_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/natural.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/gamescast_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/gamescast.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/everyday_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/everyday.png" %}" class="color-img" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
		      <img src="{% static "assets/img/clients/spinworkx_grey.png" %}" alt=""> 
		      <img src="{% static "assets/img/clients/spinworkx.png" %}" class="color-img" alt="">
                    </a>
                </li>
            </ul>
        </div><!--/flexslider-->
	{% endblock %}
        <!-- End Our Clients -->    

    </div><!--/container-->		
    <!-- End Content Part -->
    {% endblock %} <!-- endblock content -->

    {% block footer %}
    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">
		      <a href="{{ HOME }}"><img id="logo-footer" class="footer-logo" src="{% static "assets/img/logo2-default.png" %}" alt=""></a>
                        <p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>
                        <p>Duis eleifend fermentum ante ut aliquam. Cras mi risus, dignissim sed adipiscing ut, placerat non arcu.</p>    
                    </div><!--/col-md-3-->
                    <!-- End About -->

                    <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="posts">
                            <div class="headline"><h2>Latest Posts</h2></div>
                            <ul class="list-unstyled latest-list">
                                <li>
                                    <a href="#">Incredible content</a>
                                    <small>May 8, 2014</small>
                                </li>
                                <li>
                                    <a href="#">Best shoots</a>
                                    <small>June 23, 2014</small>
                                </li>
                                <li>
                                    <a href="#">New Terms and Conditions</a>
                                    <small>September 15, 2014</small>
                                </li>
                            </ul>
                        </div>
                    </div><!--/col-md-3-->  
                    <!-- End Latest --> 
                    
                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>Useful Links</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Portfolio</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->                    

                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>Contact Us</h2></div>                         
                        <address class="md-margin-bottom-40">
                            25, Lorem Lis Street, Orange <br />
                            California, US <br />
                            Phone: 800 123 3456 <br />
                            Fax: 800 123 3456 <br />
                            Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
                        </address>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
            </div> 
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2014 &copy; All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div> 
        </div><!--/copyright-->
    </div>     
    <!--=== End Footer Version 1 ===-->
    {% endblock %} <!-- endblock footer -->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="{% static "assets/plugins/jquery/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/plugins/jquery/jquery-migrate.min.js" %}"></script>
<script type="text/javascript" src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script> 
<!-- JS Implementing Plugins -->
{% block js-implementing-plugins %}
{% endblock %}
<!-- JS Customization -->
<script type="text/javascript" src="{% static "assets/js/custom.js" %}"></script>
{% block js-page-level %}
<!-- JS Page Level -->           
{% endblock %}
<!--[if lt IE 9]>
  <script src="{% static "assets/plugins/respond.js" %}"></script>
  <script src="{% static "assets/plugins/html5shiv.js" %}"></script>
  <script src="{% static "assets/js/plugins/placeholder-IE-fixes.js" %}"></script>
<![endif]-->

</body>
</html>	
