{% extends "adaptiware/base.html" %}
{% load staticfiles %}

    {% block title %}Unify | Contacts{% endblock %}

    <!-- CSS Implementing Plugins -->
    {% block css-impementing-plugins %}
    <link rel="stylesheet" href="{% static "assets/plugins/line-icons/line-icons.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/flexslider/flexslider.css" %}">     

    <!-- CSS Page Style -->    
    <link rel="stylesheet" href="{% static "assets/css/pages/page_contact.css" %}">
    {% endblock %}

    {% block menu_contacts_li_class %}active{% endblock %}

    {% comment %}
    {% block purchase %}
    {% endblock %}
    {% endcomment %}

    {% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Our Contacts</h1>
            <ul class="pull-right breadcrumb">
	      <li><a href="{{ HOME }}">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Contacts</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    {% endblock %}

    <!-- Google Map -->
    {% block slider %}
    <div id="map" class="map">
    </div><!---/map-->
    {% endblock %}
    <!-- End Google Map -->

        {% block content %}
	<div class="container content">
    	<div class="row margin-bottom-30">
    		<div class="col-md-9 mb-margin-bottom-30">
                <div class="headline"><h2>Contact Form</h2></div>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas feugiat. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit landitiis.</p><br />
    			<form>
                    <label>Name</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control">
                        </div>                
                    </div>
                    
                    <label>Email <span class="color-red">*</span></label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control">
                        </div>                
                    </div>
                    
                    <label>Message</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-11 col-md-offset-0">
                            <textarea rows="8" class="form-control"></textarea>
                        </div>                
                    </div>
                    
                    <p><button type="submit" class="btn-u">Send Message</button></p>
                </form>
            </div><!--/col-md-9-->
            
    		<div class="col-md-3">
            	<!-- Contacts -->
                <div class="headline"><h2>Contacts</h2></div>
                <ul class="list-unstyled who margin-bottom-30">
                    <li><a href="#"><i class="fa fa-home"></i>5B Streat, City 50987 New Town US</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>info@example.com</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>
                    <li><a href="#"><i class="fa fa-globe"></i>http://www.example.com</a></li>
                </ul>

            	<!-- Business Hours -->
                <div class="headline"><h2>Business Hours</h2></div>
                <ul class="list-unstyled margin-bottom-30">
                	<li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                	<li><strong>Saturday:</strong> 11am to 3pm</li>
                	<li><strong>Sunday:</strong> Closed</li>
                </ul>

            	<!-- Why we are? -->
                <div class="headline"><h2>Why we are?</h2></div>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                <ul class="list-unstyled">
                	<li><i class="fa fa-check color-green"></i> Odio dignissimos ducimus</li>
                	<li><i class="fa fa-check color-green"></i> Blanditiis praesentium volup</li>
                	<li><i class="fa fa-check color-green"></i> Eos et accusamus</li>
                </ul>
            </div><!--/col-md-3-->
        </div><!--/row-->        

        {% block our-clients %}
	{{ block.super }}
	{% endblock %}

    </div><!--/container-->		
    {% endblock %}
<!-- JS Implementing Plugins -->           
{% block js-implementing-plugins %}
<script type="text/javascript" src="{% static "assets/plugins/back-to-top.js" %}"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="{% static "assets/plugins/gmap/gmap.js" %}"></script>
<script type="text/javascript" src="{% static "assets/plugins/flexslider/jquery.flexslider-min.js" %}"></script>
{% endblock %}
<!-- JS Page Level -->           
{% block js-page-level %}
<script type="text/javascript" src="{% static "assets/js/app.js" %}"></script>
<script type="text/javascript" src="{% static "assets/js/pages/page_contacts.js" %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();                
        ContactPage.initMap();              
    });
</script>
{% endblock %}
