{% extends "adaptiware/base.html" %}
{% load staticfiles %}
    {% block title %}Unify | Portfolio{% endblock %}


    {% block css-impementing-plugins %}
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static "assets/plugins/line-icons/line-icons.css" %}">
    <link rel="stylesheet" href="{% static "assets/plugins/font-awesome/css/font-awesome.min.css" %}">

    <!-- CSS Page Style -->    
    <link rel="stylesheet" href="{% static "assets/css/pages/portfolio-v1.css" %}">
    {% endblock %}

    {% block menu_portfolio_li_class %}active{% endblock %}

    {% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Portfolio 4 Columuns</h1>
            <ul class="pull-right breadcrumb">
	      <li><a href="{{ HOME }}">Home</a></li>
                <li><a href="">Portfolio</a></li>
                <li class="active">Portfolio 4 Columuns</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    {% endblock %}

    {% block slider %}
    {% endblock %}

    {% block purchase %}
    {% endblock %}

    {% block content %}
    <div class="container content portfolio-4-columns">   
    {% if portfolio %} {% for p in portfolio %} 
      {% cycle '<div class="row">' '' '' '' %}
        <div class="col-md-3 col-sm-6">
          <div class="view view-tenth">
            <img class="img-responsive" src="{{ p.image.url }}" alt="" />
            <div class="mask">
              <h2>{{ p.name }}</h2>
              <p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
              <a href="{{ p.url }}" class="info">Read More</a>
            </div>                
          </div>
        </div>
    {% cycle '' '' '' '</div>' %} 
    {% endfor %}
    {% if not portfolio|length|divisibleby:"4" %}
    </div> <!-- end of last row: the number of portfoio items is not divisible by 4. -->
    {% endif %}

    {% else %}
    <p class="bg-warning">No portfolio items has been found.</p>
    {% endif %}
    </div><!--/container-->
    {% endblock %}


{% block js-implementing-plugins %}
<script type="text/javascript" src="{% static "assets/plugins/back-to-top.js" %}"></script>
{% endblock %}

{% block js-page-level %}
<script type="text/javascript" src="{% static "assets/js/app.js" %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();      
    });
</script>
{% endblock %}
